streamlit==1.49.0

pandas
numpy
scikit-learn
xgboost

matplotlib
plotly
seaborn

openpyxl
reportlab
pillow

python-dotenv
requests

google-genai

langchain
langchain-community
langchain-core

pypdf

GitPython
protobuf
pyarrow