streamlit==1.49.0

pandas==2.2.3
numpy
scikit-learn
xgboost

matplotlib
plotly==6.3.0
seaborn

openpyxl
reportlab
pillow

python-dotenv
requests

google-genai

langchain-core
langchain-community
langchain

faiss-cpu
sentence-transformers

pypdf

protobuf
pyarrow
kaleido==1.1.0
